/* For both Signup and Login pages */

/* Just adding display: flex to the html and css, since it's missing from the main file. (And i kinda need it here :3) */

body, html {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* Form Styling */

/* Width and height are mobile-first. */

.error-message {

    color: #F4403D;
    margin: 5px;

}

.sign-in-form, .google-register, .log-in-form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 10px;
    animation: slowlyAppear 1.2s ease-in-out forwards;

}

.sign-in-form {

    width: 90%;
    height: 70%;
    text-align: center;

}

.log-in-form {

    width: 90%;
    height: 55%;
    text-align: center;

}

#register-form {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.register-input, #sign-submit {

    width: 70%;
    height: 5%;
    background: transparent;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 5%;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #000;
    transition: all 0.2s ease-in-out;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    outline: none;

}

.register-input:hover, #sign-submit:hover {

    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);

}

.register-input:focus, #sign-submit:focus {

    box-shadow: 5px 5px 60px 9px rgba(0,0,0,0.2);

}

#sign-submit {

    width: 200px;
    height: 50px;

}

#sign-submit:hover {

    cursor: pointer;

}

#sign-submit:active {

    background: rgba(255,255,255,0.2);

}

/* Google register form */

.google-register {

    position: absolute;
    justify-content: flex-start;
    bottom: 3%;
    width: 90%;
    height: 10%;

}

.google-register h3 {

    position: absolute;
    top: -20%;

}

.google-register a {

    position: absolute;
    border: 1px solid #1a1a1a;
    border-radius: 5000px;
    padding: 10px;
    bottom: 10%;
    text-decoration: none;
    color: black;
    transition: .3s ease-in-out;

}

.google-register a:hover {

    background: rgba(255,255,255,.5);
    box-shadow: 2px 2px 50px rgba(0,0,0,0.2);

}

.google-register svg {

    position: relative;
    top: 4px;
    left: -2px;

}

/* Animation for the text to appear. */

@keyframes slowlyAppear {

    0% { opacity: 0; }


    100% { opacity: 1; }

}

/* Media Query */

@media (min-width: 426px) {

    .sign-in-form, .google-register, .log-in-form {

        width: 550px;

    }

}
