/* This is for the pages that display user's order */

/* Google Fonts from the general.css (Since importing it here will create a mess...) */

@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700');

body, html {

    font-family: "Vend Sans", "sans-serif";
    margin: 0;
    padding: 0;

}

hr {

    opacity: .5;
    width: 70%;

}

/* General containers. */

.full-container {

    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;

}

.bg-container {

    display: grid;
    box-shadow: 0 15px 25px #00000019;
    padding: 45px;
    width: 45%;
    height: 80%;
    text-align: center;
    margin: 40px auto;
    border-bottom: solid 4px #28a745;
    grid-template-rows: .5fr 1.5fr .3fr;
    animation: slowlyAppear 1.5s ease-in-out forwards;

}

/* The "header" of the payment status. (I.e., green check mark/white cross + appropriate text). */

.main-status {

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.circle-for-payment::before { /* Using pseudo-element in order to apply the effect only on the div, and not on the child element. */

    content: "";
    width: 75px;
    height: 75px;
    background-color: rgba(4, 179, 109, .1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 3s ease-in-out infinite alternate;

}

.payment-icon {

    width: 50px;
    height: 50px;
    z-index: 10;
    position: relative;
    bottom: 63px;

}

.order-details-center-div {

    display: flex;
    justify-content: center;
    align-items: center;

}

.order-details {

    display: grid;
    border: 2px solid #E6E6E6;
    border-radius: 15px;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    height: 100%;
    width: 65%;

}

.detail {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.data-point {

    margin-left: 5px;

}

.data {

    font-weight: bold;
    margin-right: 5px;

}

.exit-button-div {

    display: flex;
    justify-content: center;
    align-items: center;

}

.exit-button{

  -webkit-appearance: none;
  -moz-appearance: none;
  translate: 0 -28px;
  background-color: #49E19F;
  appearance: none;
  border: 0;
  display: flex;
  align-items: center;
  padding: 16px 20px 16px 15px;
  height: 56px;
  font-weight: 500;
  line-height: 1em;
  color: white;
  cursor: pointer;
  border-radius: 32px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 0.2s ease-in-out, background-color 250ms ease-in-out;
  margin: 10px;

}

.exit-button:focus {

    box-shadow: 2px 6px 24px 9px rgba(0,0,0,.2);
    outline: none;

}

.exit-button:hover {

    background-color: #16A085;

}

/* Media Queries for mobile +  */

@media (max-width: 769px) {

    .bg-container {

        width: 95%;
        height: 120%;

    }

    .circle-for-payment {

        position: relative;
        top: 80px;

    }

}

@media (max-width: 426px) {

    .order-details {

        width: 125%;

    }

}

/* Animation for the circle-for-payment div to continuously change its radius. */

@keyframes pulse {

    0% {

        transform: scale(1); /* Normal size. */

    }



    100% {

        transform: scale(1.3); /* Maximum size. */

    }

}

/* Used for the whole page. */

@keyframes slowlyAppear {

    0% { opacity: 0; }


    100% { opacity: 1; }

}
