/* Dark Mode Styling. */

body.dark {

    .review-form, .text-reviews-div {

        background-color: rgba(0, 0, 0, .5);
        color: #FFFFFF;

    }

    .submit-review, .text-area-review {

        color: #FFFFFF;

    }

    .submit-review:hover, .text-area-review:hover {

    box-shadow: 1px 1px 30px 2px rgba(255,255,255,0.2);
    text-shadow: 2px 2px 5px rgba(255,255,255,0.2);

    }

    .submit-review:focus, .text-area-review:focus {

    box-shadow: 2px 2px 40px 5px rgba(255,255,255,0.2);
    text-shadow: 3px 3px 7px rgba(255,255,255,0.2);

    }

}

/* Styling for when the owner's accessing reviews on their own product. */

body.disable-rating {

    .main-content-container {

        grid-template-rows: 1fr; /* Simply making the entire grid only 1 fraction (Making the "text-reviews" stretch across the entire middle of the screen), since the "review-form" tag is disabled. */

    }

}

/* Main Styling. */

.main-container {

    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;

}

.main-content-container {

    display: grid;
    grid-template-rows: .8fr 1.2fr;
    height: 85%;
    width: 50%;
    position: relative;
    top: 7%;
    gap: 10px;

}

/* Scrollbar Styling. (For Chrome and Safari) */

::-webkit-scrollbar { /* Need to set this property before modifying the rest. */

    background: transparent;
    width: 10px;

}

::-webkit-scrollbar-track {

    background-color: transparent;

}

::-webkit-scrollbar-thumb {

    background-color: rgba(95, 110, 200, .7);
    height: 10px;
    border-radius: 10px;

}

.review-container {

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;

}

/* Star Rating */

.review-form {

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 10px;
    animation: slowlyAppear 1.2s ease-in-out forwards;

}

.rating-div {

    display: flex;
    justify-content: center;
    align-items: center;

}

.main-review-user {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    animation: slowlyAppear .6s ease-in-out;

}

.text-area-review {

    border-radius: 15px;

}

.rating {
  margin: 50px auto;
  width: 400px;
}
.rating > * {
  float: right;
}
@-webkit-keyframes pulse {
  50% {
    color: #5e5e5e;
    text-shadow: 0 0 15px #777777;
  }
}
@keyframes pulse {
  50% {
    color: #5e5e5e;
    text-shadow: 0 0 15px #777777;
  }
}
.rating label {
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}
.rating label:nth-of-type(1):after {
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s; /* 0.25s */
}
.rating label:nth-of-type(2):after {
  -webkit-animation-delay: 1.10s;
          animation-delay: 1.10s; /* 0.2s */
}
.rating label:nth-of-type(3):after {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s; /* 0.15s */
}
.rating label:nth-of-type(4):after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; /* 0.1s */
}
.rating label:nth-of-type(5):after {
  -webkit-animation-delay: .9s;
          animation-delay: .9s; /* 0.05s */
}
.rating label:after {
  transition: all .4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "☆";
  color: #444;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 80px;
  -webkit-animation: 1.3s pulse ease-in-out;
          animation: 1.3s pulse ease-in-out;
}
.rating label:hover:after {
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}
.rating input {
  display: none;
}
.rating input:checked + label:after,
.rating input:checked ~ label:after {
  content: "★";
  color: #F9BF3B;
  text-shadow: 0 0 20px #F9BF3B;
}

.submit-review, .text-area-review {

    background: transparent;
    padding: 5px;
    margin-bottom: 2%;
    margin-top: 2%;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #000;
    transition: all 0.2s ease-in-out;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    outline: none;

}

.submit-review {

    cursor: pointer;

}

.submit-review:hover, .text-area-review:hover {

    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);

}

.submit-review:focus, .text-area-review:focus {

    box-shadow: 5px 5px 60px 9px rgba(0,0,0,0.2);

}

.text-reviews-div {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 10px;
    animation: slowlyAppear 1.2s ease-in-out forwards;

}

.one-user {

    display: flex;
    flex-direction: row;
    min-width: 100%;
    max-width: 100%;
    height: auto;

}

.user-review-pfp-div {

    display: flex;
    position: relative;
    top: 25px;
    align-items: flex-start;

}

.review-pfp {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(174, 177, 217, .4);
    margin: 5px;
    transition: .4s ease-in-out;
    border: 2px solid #000;
    box-shadow: 4px 4px 20px rgba(255, 255, 255, .4);

}

.user-comments {

    position: relative;
    top: 25px;
    text-align: left;

}

.user-review-heading, .user-review-comment {

    margin: 5px;

}

@media (max-width: 375px) { /* For the small screens. */

    .rating {

        width: 300px;

    }

}

@media (max-width: 476px) {

    .main-content-container {

        width: 95%;

    }

}


/* Thanks to Joseph Fusco for the stars UI <3 */

.hidden {

    display: none;

}
