/* Night Mode Styling. */

body.dark {

    .main-div {

        background-color: rgba(0, 0, 0, .5);
        color: #FFF;

    }

    #register-button {

        background-color: rgba(0, 0, 0, .7);
        color: #FFF;

    }

    #register-button:hover {

    box-shadow: 2px 2px 30px 4px rgba(255,255,255,0.2);
    text-shadow: 2px 2px 5px rgba(255,255,255,0.2);

    }

    #register-button:focus {

    box-shadow: 5px 5px 60px 9px rgba(255,255,255,0.2);

    }

}

.prompt {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.main-div {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 85%;
    height: 30%;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 10px;
    animation: slowlyAppear 1.2s ease-in-out forwards;

}

.main-div a {

    margin: 0;
    padding: 0;

}

.stripe-warning {

    color: red;
    font-size: 15px;
    margin: 5px;
    margin-bottom: 20px;

}

#register-button {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #000;
    transition: all 0.4s ease-in-out;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    outline: none;
    cursor: pointer;

}

#register-button:active {

    background: rgba(255,255,255,0.2);

}

#register-button:hover {

    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);

}

#register-button:focus {

    box-shadow: 5px 5px 60px 9px rgba(0,0,0,0.2);

}

/* Styling for the delete form. */

#delete-form {

    display: flex;

}

/* Animation for the text to appear. */

@keyframes slowlyAppear {

    0% { opacity: 0; }


    100% { opacity: 1; }

}

/* For everything above tablet. */

@media (min-width: 769px) {

    .main-div {

        width: 45%;

    }

}

.hidden {

    display: none;

}
